*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(120deg, coral, antiquewhite);
    color: #222;
    font-family: 'Edu SA Beginner', cursive, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    min-height: 100vh;
}

header {
    font-size: 1.75rem;;
}

header, form {
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form input, form button {
    font-size: 2rem;
    padding: 0.5rem;
    border: none;
    outline: none;
    background-color: white;
}

form button {
    color: coral;
    background-color: antiquewhite;
    cursor: pointer;
    transition: all 0.5s ease;
}

form button:hover {
    color: antiquewhite;
    background-color: coral;
}

.todo-content {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.todo-list {
    min-height: 18vh;
    min-width: 30%;
    font-size: 1.5rem;
    list-style: none;
}

.todo-div {
    margin: 1rem 0;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s ease;
}

.todo-li {
    flex: 1;
    padding:0 0.5rem;
}

.checked-btn, .trash-btn {
    background-color: antiquewhite;
    color: coral;
    font-size: 1.5rem;
    padding: 0.25rem;
    border: none;
    cursor: pointer;
    transition: all 2s ease;
}

.checked-btn:hover, .trash-btn:hover {
    color:antiquewhite;
    background-color: coral;
}

.fa-check, .fa-trash {
    pointer-events: none;
}

.checked {
    text-decoration: line-through;
    opacity: 0.5;
}

.fall {
    transform:translateY(8rem) rotateZ(45deg);
    opacity: 0;
}

.select {
    margin: 0.5rem;
    position: relative;
}

.todo-filter {
    appearance: none;
    border: none;
    outline: none;
    font-size: medium;
    padding: 1rem;
    width: 10rem;
}

.select::after {
    content: '\2665';
    border: none;
    color: coral;
    background-color: white;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.8rem;
    pointer-events: none;
    transition: all 1s ease;
}

.select:hover::after {
    color: white;
    background-color: coral;
}